@page
@model EmparejaTecWebApp.Pages.Usuario.IndexModel
@inject IAntiforgery antiforgery
@{
    ViewData["Title"] = "Inicio";
}

@if (Model.CurrentDisplayedAppUser == null)
{
    <div class="alert alert-danger" role="alert">
        No se encuentran mas usuarios para emparejar
    </div>
    return;
}
<div class="card border-light w-75 mx-auto position-relative pb-4">
    <div class="banner-container">
        <img src="@Model.CurrentDisplayedAppUser.bannerPath" class="card-img-top" alt="...">
    </div>
    <div class="position-absolute start-0 translate-middle-y" style="z-index: 1; top: 40% !important">
        <!-- Foto de perfil -->
        <img src="@Model.CurrentDisplayedAppUser.avatarPath" class="img-fluid rounded-circle" alt="Foto de perfil" width="200" height="250">
    </div>
    <div class="card-body">
        <!-- Foto de perfil -->
        <h1 class="card-title ps-2">@Model.CurrentDisplayedAppUser.username</h1>
        <br>
        <!-- Descripcion -->
        <div class="d-flex flex-column justify-content-between" style="height: 70% !important;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="card-text">@Model.CurrentDisplayedAppUser.summary</p>
                    </div>
                    <div class="col">
                        @foreach (var interest in Model.CurrentDisplayedInterests)
                        {
                            <span class="badge rounded-pill bg-primary fs-5 mt-2 me-2">@interest.interest</span>
                        }
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-link align-items-center">
                    <span class="bi bi-x-circle-fill ignore"></span>
                </a>
                <a class="btn btn-link align-items-center">
                    <span class="bi bi-heart-fill heart"></span>
                </a>
            </div>
        </div>
        <p class="card-text"><small class="text-muted"></small></p>
    </div>
</div>

@Html.AntiForgeryToken()
@section Scripts {
<script>
    $(document).ready(function () {
        $(".heart").click(function () {
            $.ajax({
                type: "POST",
                url: "/Usuario/Index?handler=Accept",
                dataType: "json",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { email: "@Model.CurrentDisplayedAppUser.email" },
                success: function (data) {
                    if (data.success) {
                        window.location.reload();
                    }
                },
                error: function (req, status, error) {
                    // Handle the error
                    console.log(error);
                    console.log(status);
                    console.log(req);
                }
            });
        });
        $(".ignore").click(function () {
            $.ajax({
                type: "POST",
                url: "/Usuario/Index?handler=Reject",
                dataType: "json",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    data: { email: "@Model.CurrentDisplayedAppUser.email" },
                success: function (data) {
                    if (data.success) {
                        window.location.reload();   
                    }
                },
                error: function (req, status, error) {
                    // Handle the error
                    console.log(error);
                    console.log(status);
                    console.log(req);
                }
            });
        });
    });
</script>
}