@page
@model EmparejaTecWebApp.Pages.RegistroUsuarioModel
@inject IAntiforgery antiforgery
@{
    ViewData["Title"] = "RegistroUsuario";
    Layout = "_LayoutRegistro";
    var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

<!--Interests Modal-->
<div class="modal fade" id="interestsModal" tabindex="-1" aria-labelledby="interestsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="interestsModalLabel">Escoger gustos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 class="text-center mb-2">Gustos seleccionados</h4>
                <div class="" id="selected_interests">
                </div>
                <h4 class="text-center my-2">Gustos a seleccionar</h4>
                <div id="available_interests">
                    @foreach (var interest in Model.Interests)
                    {
                        <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2 me-2">@interest.interest</span>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--Avatar Modal-->
<div class="modal fade" id="avatarModal" tabindex="-1" aria-labelledby="avatarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="avatarModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container text-center">
                    <h2 class="text-center">Avatar Actual</h2>
                    <div id="default_pic">
                        <img src="~/images/profile_pic/boy.png" alt="Avatar por defecto"
                            class="img-fluid rounded-circle" width="150">
                        <p>Nick</p>
                    </div>
                    <h2 class="text-center mt-4">Avatares a Escoger</h2>
                    <div class="row text-center">
                        <div class="col-4">
                            <img src="~/images/profile_pic/penguin.png" alt="Pingu"
                                class="img-fluid rounded-circle selectable-image clickable" width="150">
                            <p>Pingu</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/zebra.png" alt="Zebrilla"
                                class="img-fluid rounded-circle selectable-image clickable" width="150">
                            <p>Zebrilla</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/shark.png" alt="Tiburoncín"
                                class="img-fluid rounded-circle selectable-image clickable" width="150">
                            <p>Tiburoncín</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/sloth.png" alt="Flash"
                                class="img-fluid rounded-circle selectable-image clickable" width="150">
                            <p>Flash</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/triceratops.png" alt="Tracy"
                                class="img-fluid rounded-circle selectable-image clickable" width="150">
                            <p>Tracy</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/rex.png" alt="Pepe"
                                class="img-fluid rounded-circle selectable-image clickable" width="150">
                            <p>Pepe</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/hacker.png" alt="Hackerman"
                                class="img-fluid rounded-circle selectable-image clickable" width="150">
                            <p>Hackerman</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/viking.png" alt="Helgar"
                                class="img-fluid rounded-circle selectable-image clickable" width="150">
                            <p>Helgar</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/boy.png" alt="Nick"
                                class="img-fluid rounded-circle selectable-image clickable" width="150">
                            <p>Nick</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/girl.png" alt="Ana"
                                class="img-fluid rounded-circle selectable-image clickable" width="150">
                            <p>Ana</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/frankenstein.png" alt="Frank"
                                class="img-fluid rounded-circle selectable-image clickable" width="150">
                            <p>Frank</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/devil.png" alt="El Chamuco"
                                class="img-fluid rounded-circle selectable-image clickable" width="150">
                            <p>El Chamuco</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="avatar_submit">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--Cover Modal-->
<div class="modal fade" id="coverModal" tabindex="-1" aria-labelledby="coverModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="coverModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container text-center">
                    <h2 class="text-center">Fondo de portada actual</h2>
                    <div class="d-flex justify-content-center align-items-center w-100">
                        <div class="image-container text-center" id="default_cover">
                            <img src="~/images/banner_pic/banner1.png" alt="azul cielo" class="img-fluid rounded-3"
                                width="600">
                        </div>
                    </div>
                    <h2 class="text-center mt-4">Fondos de portada a escoger</h2>
                    <div class="row text-center">
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner1.png" alt="azul cielo"
                                class="img-fluid rounded-3 selectable-cover clickable" width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner2.png" alt="guirnaldas de acero"
                                 class="img-fluid rounded-3 selectable-cover clickable" width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner3.png" alt="anclas marinas"
                                class="img-fluid rounded-3 selectable-cover clickable" width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner4.png" alt="ave de invierno"
                                class="img-fluid rounded-3 selectable-cover clickable" width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner5.png" alt="zorro egipcio"
                                class="img-fluid rounded-3 selectable-cover clickable" width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner7.png" alt="akita flameante"
                                class="img-fluid rounded-3 selectable-cover clickable" width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner8.png" alt="espirito andante"
                                class="img-fluid rounded-3 selectable-cover clickable" width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner9.png" alt="dientes de leon"
                                class="img-fluid rounded-3 selectable-cover clickable" width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner10.png" alt="otoño"
                                class="img-fluid rounded-3 selectable-cover clickable" width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner11.png" alt="delicadeza de invierno"
                                class="img-fluid rounded-3 selectable-cover clickable" width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner12.png" alt="el ojo que todo lo ve"
                                class="img-fluid rounded-3 selectable-cover clickable" width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner13.png" alt="arenas del tiempo"
                                class="img-fluid rounded-3 selectable-cover clickable" width="240">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="cover_submit">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-center align-items-center vh-100 overflow-y-auto">
    <div class="container register-form">
        <div class="d-flex flex-column justify-content-center align-items-center mb-5">
            <i b-fb2uzsacw2="" class="bi bi-mortarboard-fill icon-form"></i>
            <h2 class="text-center">Crea tu cuenta</h2>
            <h5 class="text-center">¡Comienza tu nueva aventura!</h5>
        </div>
        <form method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Nombre de usuario anónimo</label>
                <input asp-for="AppUser.username" type="text" class="form-control" id="username" name="username"
                    placeholder="guayabitaNinja04">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Háblanos sobre ti</label>
                <textarea asp-for="AppUser.summary" class="form-control" id="summary" name="summary"
                    placeholder="Me gustan mucho los patacones..."></textarea>
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Ingresa tu edad</label>
                <input asp-for="AppUser.age" type="text" class="form-control" id="age" name="age" placeholder="21">
            </div>
            <div class="mb-3">
                <label class="form-label">Escoge tus intereses</label>
                <div class="w-100">
                    <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal"
                        data-bs-target="#interestsModal">
                        Escoger intereses
                    </button>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">¿Qué estás buscando?</label>
                @for (var i = 0; i < Model.LookingFor.Count; i++)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="@Model.LookingFor[i].IsSelected">
                        <input class="form-check-input" type="hidden" asp-for="@Model.LookingFor[i].Value">
                        <input class="form-check-input" type="hidden" asp-for="@Model.LookingFor[i].Label">
                        <label class="form-check-label"
                            asp-for="@Model.LookingFor[i].IsSelected">@Model.LookingFor[i].Label</label>
                    </div>
                }
            </div>
            <div class="mb-3">
                <label class="form-label">¿Cuál es tu sexo?</label>
                @for (var i = 0; i < Model.Genders.Count; i++)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="SelectedGender" asp-for="@Model.SelectedGender"
                            value="@Model.Genders[i].Value" id="radio_@i">
                        <label class="form-check-label" asp-for="@Model.SelectedGender"
                            for="radio_@i">@Model.Genders[i].Label</label>
                    </div>
                }
            </div>
            <div class="mb-3">
                <label class="form-label">¿A qué sexo te sientes atraído?</label>
                @for (var i = 0; i < Model.AttractedTo.Count; i++)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="@Model.AttractedTo[i].IsSelected">
                        <input class="form-check-input" type="hidden" asp-for="@Model.AttractedTo[i].Value">
                        <input class="form-check-input" type="hidden" asp-for="@Model.AttractedTo[i].Label">
                        <label class="form-check-label"
                            asp-for="@Model.AttractedTo[i].IsSelected">@Model.AttractedTo[i].Label</label>
                    </div>
                }
            </div>
            <div class="mb-3">
                <label class="form-label">Escoge tu avatar</label>
                <div class="w-100">
                    <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal"
                        data-bs-target="#avatarModal">
                        Escoger avatar
                    </button>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Escoge tu fondo de portada</label>
                <div class="w-100">
                    <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal"
                        data-bs-target="#coverModal">
                        Escoger fondo de portada
                    </button>
                </div>
            </div>
            <div class="mb-3 w-100 mt-5">
                <button type="submit" class="btn btn-primary w-100" asp-page-handler="Register">Registrarme</button>
            </div>
        </form>
    </div>
</div>

@Html.AntiForgeryToken()
@section Scripts {
    <script>
        $(document).ready(function () {
            // Attach a click event handler to badges in the second container (for deselecting interests).
            $('#selected_interests').on('click', '.badge', function () {
                var $badge = $(this);
                var interestName = $(this).text().trim();

                // Make an AJAX request to remove the interest
                $.ajax({
                    type: "POST",
                    url: '/RegistroUsuario?handler=RemoveInterest',
                    dataType: "json",
                    data: { interest: interestName },
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    success: function (result) {
                        // Check if the request was successful
                        if (result.success) {
                            // Clone the badge and move it to the first container
                            var $clonedBadge = $badge.clone();
                            $clonedBadge.removeClass('bg-primary').addClass('bg-secondary');
                            $('#available_interests').append($clonedBadge);
                            $badge.remove();
                        }
                    },
                    error: function (req, status, error) {
                        // Handle the error
                        console.log(error);
                    }
                });
            });

            // Attach a click event handler to badges in the first container (for adding interests).
            $('#available_interests').on('click', '.badge', function () {
                var $badge = $(this); // Store the clicked badge element in a variable
                var interestName = $badge.text().trim();

                // Make an AJAX request to add the interest
                $.ajax({
                    type: "POST",
                    url: '/RegistroUsuario?handler=AddInterest',
                    dataType: "json",
                    data: { interest: interestName },
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    success: function (result) {
                        // Check if the request was successful
                        if (result.success) {
                            // Clone the badge and move it to the second container
                            var $clonedBadge = $badge.clone();
                            $clonedBadge.removeClass('bg-secondary').addClass('bg-primary');
                            $('#selected_interests').append($clonedBadge);
                            $badge.remove(); // Use the stored badge element variable here
                        }
                    },
                    error: function (req, status, error) {
                        // Handle the error
                        console.log(error);
                        console.log(status);
                        console.log(req);
                    }
                });
            })

            $('#avatar_submit').click(function () {
                var avatarPath = $("#default_pic img").attr("src");

                // Make an AJAX request to set the avatar path
                $.ajax({
                    type: "POST",
                    url: '/RegistroUsuario?handler=SetAvatarPath', // Change 'YourRazorPagePath' to your Razor Page's path
                    dataType: "json",
                    data: { avatarPath: avatarPath },
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    success: function (result) {
                        // Check if the request was successful
                        if (result.success) {
                            // Handle success
                            $("#avatarModal").modal("hide");
                        }
                    },
                    error: function (req, status, error) {
                        // Handle the error
                        console.log(error);
                        console.log(status);
                        console.log(req);
                    }
                });
            });

            $('#cover_submit').click(function () {
                var coverPath = $("#default_cover img").attr("src");

                // Make an AJAX request to set the cover path
                $.ajax({
                    type: "POST",
                    url: '/RegistroUsuario?handler=SetCoverPath', // Change 'YourRazorPagePath' to your Razor Page's path
                    dataType: "json",
                    data: { coverPath: coverPath },
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    success: function (result) {
                        // Check if the request was successful
                        if (result.success) {
                            // Handle success
                            $("#coverModal").modal("hide");
                        }
                    },
                    error: function (req, status, error) {
                        // Handle the error
                        console.log(error);
                        console.log(status);
                        console.log(req);
                    }
                });
            });

            $(".selectable-image").click(function () {
                var clickedImagePath = $(this).attr("src");
                var clickedImageText = $(this).next("p").text();

                $("#default_pic img").attr("src", clickedImagePath);
                $("#default_pic p").text(clickedImageText);
            });

            $(".selectable-cover").click(function () {
                var clickedImagePath = $(this).attr("src");
                $("#default_cover img").attr("src", clickedImagePath);
            });
        });
    </script>
}
